body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.aboutus {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.aboutus h1 {
    text-align: center;
    color: #333;
}
.aboutus p {
    line-height: 1.6;
    color: #666;
}
.aboutus-image {
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
    margin: 40px auto;
    justify-content: center;
    align-items: center;
}

.styled-line {
    border: none;
    height: 4px;
    background-color: #333; 
    margin: 20px 0; 
}
.team {
    text-align: center;
    margin: 50px 0;
}
.team h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.team-member {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.member {
    text-align: center;
    max-width: 200px;
}
.member img {
    width: 100%;
    border-radius: 50%;
}
.member h2 {
    font-size: 1.5em;
    margin: 10px 0 5px;
}
.member p {
    font-size: 1em;
    color: #666;
}