 body {
    margin: 0;
    font-family: Arial, sans-serif;

} 

.header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.search-bar input {
    flex-grow: 1;
    margin: 0 100px;
    padding: 10px;
    border: none;  
}
.search-bar button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #b4b3b339;
}


#search {
    width: 600px;
}

.user-menu { 
    position: relative;
    display: flex;
    align-items: center;/* Center items vertically */
}

.user-icon {
   
    width: 60px;
    height: 60px;
    cursor: pointer;/* Cursor changes to pointer on hover */
    padding-left: 300px;
}

/* toggle drop down css */
.dropdown {
    text-align: center;
    width: 180px;
    display: none; /* Hide dropdown initially */
    position: absolute;
    top: 40px; /* Position dropdown below user icon */
    right: 0; /* Align dropdown to the right */
    background-color: #c7c7c7;  /* Dropdown background color */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  /* Box shadow for dropdown */
    z-index: 1;
}

.dropdown a {
    color: rgb(0, 0, 0); /* Link text color in dropdown */
    padding: 10px;
    text-decoration: none;/* Remove underline from dropdown links */
    display: block; /* Display as block element */
}

.dropdown a:hover {
    background-color: #706A6A; /* Background color on hover for dropdown links */
}

.user-menu.active .dropdown {
    display: block; /* Show dropdown when user menu is active */
}


#sbutton {
    width: 100px;
    padding-right: 200px;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    background: #d5d5d5;
}

.nav-bar input {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    border: none;
    background-color: #d5d5d5;
}

.nav-bar a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    border: none;
    background-color: #d5d5d5;
    padding-left: 0;
}

.nav-bar a:hover {
    color: #8c5555; /* Change color on hover */
    text-decoration: underline; /* Underline on hover */
}

