 body {
    margin: 0;
    font-family: Arial, sans-serif;

} 

.header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.search-bar input {
    flex-grow: 1;
    margin: 0 20px;
    padding-left: 20px;
    padding: 10px;
    border: none;  
}

#search {
    width: 600px;
}

#sbutton {
    width: 100px;
}

.profile-icon {
    cursor: pointer;
    padding-right: 10px;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    background: #d5d5d5;
}

.nav-bar input {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    border: none;
    background-color: #d5d5d5;
}

.nav-bar a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    border: none;
    background-color: #d5d5d5;
    padding-left: 0;
}

.nav-bar a:hover {
    color: #8c5555; /* Change color on hover */
    text-decoration: underline; /* Underline on hover */
}