body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

.login-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 340px;
  padding: 40px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;

}

.login-container h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.input-group label,
.checkbox-group label {
  font-weight: 600;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

.input-group input,
.checkbox-group input[type='checkbox'] {
  margin-bottom: 15px;
}

.input-group input,
.checkbox-group input[type='email'],
.checkbox-group input[type='password'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group input[type='checkbox'] {
  margin-right: 5px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

a {
  text-align: center;
  display: block;
  margin-top: 20px;
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}