h1 {
    font-family: Arial,  sans-serif;
    font-size: 30px;

    
}

p {
    font-family: Arial,  sans-serif;
    font-size: 20px;
}

li {
    font-family: Arial,  sans-serif;
    font-size: 20px;
}

body {
    margin: auto;
    width: 80%;
    line-height: 1.5;
    text-align: justify;
}
