body {
    color: #333;
    background-color: #f4f4f4;
}

h1 {
    margin-top: 75px;
    font-family: Arial,  sans-serif;
    font-size: 30px;
}

p {
    font-family: Arial,  sans-serif;
    font-size: 20px;
}

li {
    font-family: Arial,  sans-serif;
    font-size: 20px;
}

.container {
    margin: auto;
   width: 80%;
    line-height: 1.5;
    text-align: justify;
}
